body {
    background-color: #e65b5b;
}

.navigation {
    display: flex;
    border: 1px solid;
    border-radius: 8px;
    align-items: center;
    color: white;
}

.column {
    display: flex;
    position: relative;
    width: 100%;
    height: 50px;
    font-family: sans-serif;
    align-items: center;
    justify-content: center;
}

.item {
    display: flex;
    padding: 10px 10px;
    border: 1px solid;
    border-radius: 8px;
    margin-left: 8px;
    justify-content: center;
    transition: 0.5s;
}

.item:hover {
    background-color: white;
    color: black;
}

h1 {
    font-family: "Brush Script MT";
    text-align: center;
    color: #ffffff;
}

p {
    font-family: "Brush Script MT";
    text-align: center;
    color: #ffffff;
    font-size: 30px;
}

.image-center {
    display: flex;
    align-items: center;
    justify-content: center;
    animation: love_animation 2.5s;
    margin-bottom: 200px;
}

.heart {
    animation: love_animation 3s ease-in;
}

.love {
    display: flex;
    border: 1px solid;
    height: 500px;
    width: 300px;
    border-radius: 8px;
    overflow: hidden;
    animation: love_animation 0,5s ease-in;
}

.love-2 {
    display: flex;
    border: 1px solid;
    height: 500px;
    width: 300px;
    border-radius: 8px;
    overflow: hidden;
}

.love-message {
    text-align: center;
    justify-content: center;
    width: auto;
    animation: love_animation 5s;
}

@keyframes love_animation {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

img {
    width: 300px;
    height: inherit;
}

.cute-pics {
    display: flex;
    justify-content: left;
}

.cute-pic {
    display: flex;
    border: 1px solid;
    height: 700px;
    width: 700px;
    border-radius: 8px;
    overflow: hidden;
    -o-object-fit: contain;
    object-fit: contain;
    background-size: cover;
    background-position: center center;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}


